body {
    background-color: #00a5e5;
    text-align: center;
    margin: 0 auto;
	width:960px;
	margin-top: 20px;
}

p {
    color: white;
    font-size: 20px;
    font: Helvetica;
} 

input#email {
    width: 255px;
    height: 25px;
    margin: 2px 0 0 300px;  
    font-size:22px;  
}

#submit {
    width: 53px;
    height: 35px;
    float:right;
    margin: 0 330px 0 0;
}

#social {
    clear:both;
}

img#fb {
    margin-top: 10px;
    width: 56px;
    height: 56px;
}

img#twitter {
    width: 56px;
    height: 56px;
}

#thanks {
    margin-top: 260px;
    font-size:22px;
    text-align: center;
    color: white;
    font-size: 30px;
}
