body {
    background-color: #00a5e5;
    text-align: center;
    margin: 0 auto;
	width:960px;
	margin-top: 20px;
}

p {
    color: white;
    font-size: 20px;
    font: Helvetica;
} 

#email {
    margin: 0 0 0 300px;    
}

#submit {
    width: 53px;
    float:right;
    margin: 0 330px 0 0;
}

#social {
    clear:both;
}
